<%= form_with(model: operation,
              data: { controller: "reset-form" }, 
              class: "col col-md-12 col-lg-10") do |form| %>
  <div class="row mb-3">
    <div class="col col-md-8 col-lg-7 offset-md-3">
      <% if operation.errors.any? %>
        <div style="color: red">
          <h4>            
            <%= t('errors.save_operation') %> <%= t('errors.prohibited') %>:
          </h4>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :category_id, 
                    "Назва категорії",
                    class: "text-md-end 
                            col-md-3 
                            col-form-label" %>

    <div class="col 
                col-sm-6 
                col-md-4 
                col-lg-3">
      <%= form.collection_select :category_id, 
                                Category.all, 
                                :id, 
                                :name,                                 
                                { include_blank: "<Оберіть категорію>" },
                                data: { "reset-form-target": "input" },
                                class: "form-select #{'is-invalid' if operation.errors.key?(:category)}" %>

      <div class="invalid-feedback">
        <%= operation.errors.full_messages_for(:category)&.first %>
      </div> 
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :operation_type_id, 
                    "Тип операції",
                    class: "text-md-end 
                            col-md-3 
                            col-form-label" %>

    <div class="col 
                col-sm-6 
                col-md-4 
                col-lg-3">
      <%= form.collection_select :operation_type_id, 
                                OperationType.all, 
                                :id, 
                                :name,
                                { include_blank: "<Оберіть тип операції>" },
                                data: { "reset-form-target": "input" },
                                class: "form-select #{'is-invalid' if operation.errors.key?(:operation_type)}" %>

      <div class="invalid-feedback">
        <%= operation.errors.full_messages_for(:operation_type)&.first %>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :amount, 
                    "Сума",                    
                    class: "text-md-end 
                            col-md-3 
                            col-form-label" %>

    <div class="col 
                col-sm-6 
                col-md-4 
                col-lg-3">
      <%= form.text_field :amount,
                          "data-reset-form-target": "input",
                          placeholder: "Введіть суму",
                          class: "form-control #{'is-invalid' if operation.errors.key?(:amount)}" %>

      <div class="invalid-feedback">
        <% operation.errors.full_messages_for(:amount)&.each do |error| %>
          <p class="mb-0"><%= error %></p>
        <% end %>
      </div>
    </div>    
  </div>

  <div class="row mb-3">
    <%= form.label :description, 
                    "Короткий опис",
                    class: "text-md-end 
                            col-md-3 
                            col-form-label" %>

    <div class="col-md-8 col-lg-7">
      <%= form.text_field :description,
                          "data-reset-form-target": "input",
                          placeholder: "Введіть опис транзакції",
                          class: "form-control #{'is-invalid' if operation.errors.key?(:description)}" %>
      
      <div class="invalid-feedback">
        <%= operation.errors.full_messages_for(:description)&.first %>
      </div>      
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :odate, 
                    "Дата YYYY-MM-DD",
                    class: "text-md-end 
                            col-md-3 
                            col-form-label" %>

    <div class="col 
                col-sm-6 
                col-md-4 
                col-lg-3">
      <%= form.date_field :odate,
                          "data-reset-form-target": "input",
                          class: "form-control #{'is-invalid' if operation.errors.key?(:odate)}" %>

      
      <div class="invalid-feedback">
        <%= operation.errors.full_messages_for(:odate)&.first %>
      </div>      
    </div>
  </div>

  <div class="row 
              justify-content-end 
              mb-4">
    <div class="col-md-9">
      <%= form.submit "Зберегти", 
                    class: "btn 
                            btn-primary 
                            shadow-sm 
                            border 
                            px-4" %>      

      <%= button_tag "Очистити",
                      type: "button", 
                      data: { action: "reset-form#reset" },
                      class: "btn 
                              btn-primary 
                              shadow-sm 
                              border 
                              px-4" %>
    </div>
  </div>
<% end %>
